<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Baba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div id="loader-container">
      <div id="spinner"></div>
    </div>
    <a href="#main-content" class="skip-content">Skip to main</a>
    <!--START HEADER-->
    <header class="header">
      <div class="header__drawer">
        <h1 class="header__title">Restaurant Baba</h1>
      </div>

      <!-- <a href="#" class="header__menu" aria-label="navigation-menu">☰</a> -->
      <button class="header__menu" aria-label="navigation-menu">☰</button>
      <!--START NAVBAR-->
      <nav id="nav" class="nav">
        <div class="close__element">
          <a href="#" aria-label="close navigation menu" class="close__menu">&times;</a>
        </div>
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#/favorites">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/irfan-ramadhani-a60527214/">About Us</a></li>
        </ul>
      </nav>
      <!--END NAVBAR-->
    </header>
    <div id="content-root"></div>
    <!--END HEADER-->

    <!--END MAIN-->

    <!--START FOOTER-->
    <footer>
      <p>Copyright &copy; 2022 - All Rights Reserved @restaurant Baba</p>
    </footer>
    <!--END FOOTER-->
  </body>
</html>
